[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[ dn ]
C  = ES
ST = Malaga
L  = UMA
O  = IoT-Lab
OU = MQTT
CN = 192.168.50.20

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
IP.1  = 192.168.50.20
DNS.1 = mqtt-broker
